{% extends "site_base.html" %}

{% block title %}Login{% endblock %}



{% block body %}
<div class="span 6">
	<h1>Welcome</h1>
	<p>Registered users please login here.  To obtain a username and password contact the system administrator.</p>
	<form action="{% url 'login_user' %}" method="post">
		{% csrf_token %}
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}
		username:
		<input type="text" name="username" value="{{username}}" /><br />
		password:
		<input type="password" name="password" value="" /><br />

		<input type="submit" value="Log In" />
	</form>
</div>
{% endblock %}